[submodule "Drivers/STM32G0xx_HAL_Driver"]
	path = Drivers/STM32G0xx_HAL_Driver
	url = https://github.com/STMicroelectronics/stm32g0xx_hal_driver.git
	branch = master
[submodule "Drivers/CMSIS/Device/ST/STM32G0xx"]
	path = Drivers/CMSIS/Device/ST/STM32G0xx
	url = https://github.com/STMicroelectronics/cmsis_device_g0.git
	branch = master
[submodule "Drivers/BSP/STM32G0xx_Nucleo"]
	path = Drivers/BSP/STM32G0xx_Nucleo
	url = https://github.com/STMicroelectronics/stm32g0xx-nucleo-bsp.git
	branch = main
[submodule "Drivers/BSP/STM32G0xx_Nucleo_32"]
	path = Drivers/BSP/STM32G0xx_Nucleo_32
	url = https://github.com/STMicroelectronics/stm32g0xx-nucleo-32-bsp.git
	branch = main
[submodule "Drivers/BSP/STM32G0316-DISCO"]
	path = Drivers/BSP/STM32G0316-DISCO
	url = https://github.com/STMicroelectronics/stm32g0316-disco-bsp.git
	branch = main
[submodule "Drivers/BSP/STM32G071B-Discovery"]
	path = Drivers/BSP/STM32G071B-Discovery
	url = https://github.com/STMicroelectronics/stm32g071b-disco-bsp.git
	branch = main
[submodule "Drivers/BSP/STM32G0C1E-EV"]
	path = Drivers/BSP/STM32G0C1E-EV
	url = https://github.com/STMicroelectronics/stm32g0c1e-ev-bsp.git
	branch = main
[submodule "Drivers/BSP/STM32G081B_EVAL"]
	path = Drivers/BSP/STM32G081B_EVAL
	url = https://github.com/STMicroelectronics/stm32g081b-eval-bsp.git
	branch = main
[submodule "Drivers/BSP/Components/Common"]
	path = Drivers/BSP/Components/Common
	url = https://github.com/STMicroelectronics/stm32-bsp-common.git
	branch = main
[submodule "Drivers/BSP/Components/cbtl08gp053"]
	path = Drivers/BSP/Components/cbtl08gp053
	url = https://github.com/STMicroelectronics/stm32-cbtl08gp053.git
	branch = main
[submodule "Drivers/BSP/Components/hx8347d"]
	path = Drivers/BSP/Components/hx8347d
	url = https://github.com/STMicroelectronics/stm32-hx8347d.git
	branch = main
[submodule "Drivers/BSP/Components/ina230"]
	path = Drivers/BSP/Components/ina230
	url = https://github.com/STMicroelectronics/stm32-ina230.git
	branch = main
[submodule "Drivers/BSP/Components/sn65dp141"]
	path = Drivers/BSP/Components/sn65dp141
	url = https://github.com/STMicroelectronics/stm32-sn65dp141.git
	branch = main
[submodule "Drivers/BSP/Components/ssd1315"]
	path = Drivers/BSP/Components/ssd1315
	url = https://github.com/STMicroelectronics/stm32-ssd1315.git
	branch = main
[submodule "Drivers/BSP/Components/st7735"]
	path = Drivers/BSP/Components/st7735
	url = https://github.com/STMicroelectronics/stm32-st7735.git
	branch = main
[submodule "Drivers/BSP/Components/stlm75"]
	path = Drivers/BSP/Components/stlm75
	url = https://github.com/STMicroelectronics/stm32-stlm75.git
	branch = main
[submodule "Drivers/BSP/Components/tusb546"]
	path = Drivers/BSP/Components/tusb546
	url = https://github.com/STMicroelectronics/stm32-tusb546.git
	branch = main
[submodule "Middlewares/Third_Party/FatFs"]
	path = Middlewares/Third_Party/FatFs
	url = https://github.com/STMicroelectronics/stm32-mw-fatfs
	branch = master
[submodule "Middlewares/Third_Party/FreeRTOS"]
	path = Middlewares/Third_Party/FreeRTOS
	url = https://github.com/STMicroelectronics/stm32-mw-freertos
	branch = master
[submodule "Middlewares/ST/STM32_USB_Device_Library"]
	path = Middlewares/ST/STM32_USB_Device_Library
	url = https://github.com/STMicroelectronics/stm32-mw-usb-device
	branch = master
[submodule "Middlewares/ST/STM32_USB_Host_Library"]
	path = Middlewares/ST/STM32_USB_Host_Library
	url = https://github.com/STMicroelectronics/stm32-mw-usb-host
	branch = master
[submodule "Middlewares/ST/OpenBootloader"]
	path = Middlewares/ST/OpenBootloader
	url = https://github.com/STMicroelectronics/stm32-mw-openbl
	branch = main
[submodule "Middlewares/ST/STM32_USBPD_Library/Core"]
	path = Middlewares/ST/STM32_USBPD_Library/Core
	url = https://github.com/STMicroelectronics/stm32-mw-usbpd-core
	branch = main
[submodule "Middlewares/ST/STM32_USBPD_Library/Devices/STM32G0XX"]
	path = Middlewares/ST/STM32_USBPD_Library/Devices/STM32G0XX
	url = https://github.com/STMicroelectronics/stm32-mw-usbpd-device-g0
	branch = main
